{% extends "base.html" %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock %}

{% block content %}
<style>
    .main-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 60px); /* Ajusta altura para não sobrepor base.html */
        padding: 20px;
        box-sizing: border-box;
        background: linear-gradient(135deg, #0096c7, #90e0ef);
        margin: 0 auto;
        position: relative;
    }

    .login-container {
        background-color: rgba(255, 255, 255, 0.9);
        padding: 40px;
        border-radius: 12px;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 400px;
        text-align: center;
        animation: fadeIn 1s ease-in-out;
        position: relative; /* Adiciona posicionamento relativo */
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(-20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .login-company-name {
        font-size: 1.5rem;
        color: #0077b6;
        margin-bottom: 20px;
        font-weight: bold;
    }

    form {
        margin-top: 20px;
    }

    .form-group {
        margin-bottom: 15px;
        text-align: left;
        position: relative; /* Adiciona posicionamento relativo */
    }

    .form-group label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
        color: #333;
    }

    .form-group input {
        width: 100%;
        padding: 12px;
        font-size: 15px;
        border: 1px solid #ddd;
        border-radius: 8px;
        transition: border-color 0.3s ease, box-shadow 0.3s ease;
    }

    .form-group input:focus {
        border-color: #0077b6;
        box-shadow: 0 0 8px rgba(0, 119, 182, 0.2);
        outline: none;
    }

    .form-group .eye-icon {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        color: #0077b6;
    }

    input[type="submit"] {
        background-color: #0077b6;
        color: #fff;
        border: none;
        padding: 12px 0;
        font-size: 16px;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.2s ease;
        width: 100%;
        margin-top: 20px;
    }

    input[type="submit"]:hover {
        background-color: #005f87;
        transform: translateY(-2px);
    }

    input[type="submit"]:active {
        transform: translateY(0);
    }

    .errorlist {
        color: #d9534f;
        font-size: 14px;
        margin-bottom: 10px;
    }

    #animation-container {
        width: 100%;
        height: 230px; /* Ajuste o tamanho da animação conforme necessário */
        margin-top: 20px; /* Espaço entre o formulário e a animação */
    }
</style>

<div class="main-box">
    <div class="login-container">
        <h1 class="login-company-name">SOS-MotoCar</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.username.errors }}
                <label for="id_username">Usuário:</label>
                <input type="text" name="username" placeholder="Usuário" required id="id_username">
            </div>

            <div class="form-group">
                {{ form.password.errors }}
                <label for="id_password">Senha:</label>
                <input type="password" name="password" placeholder="Senha" required id="id_password">
                <i class="eye-icon fas fa-eye" id="toggle-password"></i>
            </div>

            <div class="form-group">
                <input type="submit" value="Entrar">
            </div>
        </form>
    </div>

    <div id="animation-container"></div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.13/lottie.min.js"></script>
<script>
    var animationContainer = document.getElementById('animation-container');
    var animation = lottie.loadAnimation({
        container: animationContainer,
        renderer: 'svg',
        loop: true,
        autoplay: true,
        path: '{% static "Animation - 1725566234373.json" %}'
    });

    document.getElementById('toggle-password').addEventListener('click', function() {
        var passwordField = document.getElementById('id_password');
        var type = passwordField.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordField.setAttribute('type', type);
        this.classList.toggle('fa-eye');
        this.classList.toggle('fa-eye-slash');
    });
</script>

{% endblock %}
